#image{
	height: 50px;
	width: 40px;
}
*{
	box-sizing: border-box;
}
body{
	font-weight: normal;
	font-family: sans-serif; 
	margin: 0;
	padding: 20px;
	background-color: #f1f1f1;
	/*overflow: hidden;*/
}

@media only screen and (max-width: 700px)
th{
    font-size: 1.2em;
}
header{
	margin-top: 0px;
	padding: 15px;
	background-color: #ffffff;
}
.row:after{
	content: '';
	display: table;
	clear: both;
}
header a{
	font-weight: bold;
	font-size: 15px;
	margin: 1.0 0px;
	color: #0073b1;
}
.left-column{
	float: left;
	width: 60%;	
}
.right-column{
	
	float: right;
	width: 40%;
	padding-left: 20px;
}
/*.card{
	height: 100%;
	padding: 20px;
	background-color: #ffffff;
 	margin-top:20px;
 	width: auto;
 	clear: left;
}*/
@media(max-width:950px){
	.left-column,.right-column{
    width: 100%;
    padding: 0px;
	}
}
.default
{
	color: #066BC4;
	border-bottom: 5px solid #066BC4;
}
#overview{
	margin: 5px 3px;
	margin-top: 8px;
}
.col-1{
	padding-left: 20px;
}
.col-2{
	padding-left: 60px;
}

#bg{
	width: 100%;
	height: 200px;
}
#jessi{
	border-radius: 50%;
	height: 30px;
	width: 30px;
	margin-top: 5px;
}

#post-img{
	height: 300px;
	width: 300px;
}
a{
	text-decoration: none;
}
#admin{
	text-align: center;
	color: blue;
	text-align: center;
}

/*
Index page CSs*/
/*.post{
	background-color: #f1f1f1;
	border-radius: 10%;
	border-color: #ffffff;
}*/

#all{
	float: left;
}
#documents{
	float: right;
}

#post{
	padding-top: 1px;
	padding-left: 15px;
}

.button {
  background-color: #f1f1f1;
  margin-right: 5px; 
  border: none;
  color: black;
  width: 100px;
  padding: 10px;
  text-align: center;
  font-size: 16px;
}

.button4 {
	border-radius: 20px;
}
.button {
  transition-duration: 0.4s;
}

.button:hover{
  background-color: #00cccc; 
  color: white;
}
.button:active{
  background-color: #00cccc; 
  color: white;
}

#vshift
{
	margin-top: -10%;
	margin-left: 17%;
}

 @media(max-width: 1050px){
 	#vshift{
 		margin-top: -8%;
 		margin-left: 7%;
 	}
 }

.wide
{
	margin-top: 15px;
	padding: 20px 10px;
}

.btn1
{
	float: center;
	border: 1px solid #066BC4;
	border-radius: 3px;
	font-family: sans-serif;
	color: white;
	background-color: #066BC4;
	width: 30%;
	padding: 15px 30px;
	margin: 5px 0px;
	text-align: center;
	font-size: 16px;
	outline: none;
}


.btn2
{
	outline: none;
	font-size: 16px;
	float: center;
	border: 1px solid #066BC4;
	border-radius: 3px;
	font-family: sans-serif;
	color: #066BC4;
	background-color: #066BC4;
	width: 30%;
	padding: 15px 30px;
	margin: 5px 10px;
	color: white;
	text-align: center;
}

@media only screen and(max-width: 600px)
{
	.btn2{
		margin: 1px 2px;
		padding: 5px 10px; 
	}	
}
@media(max-width: 300px){
	#post-img{
		height: 150px;
		width: 150px;
	}
}
@media(max-width: 300px){
	#post-img{
		height: 150px;
		width: 150px;
	}
}
h3
{
	margin: 15px 0px;
	font-weight: 10;
	color: gray; 
}

th
{
	padding: 1%;
	font-size: 1.2em;
	border: 5px solid white;
	font-weight: normal;
	text-align: center;
}
.tab-1
{
	width: 100%;
	border-collapse: collapse;
	/*margin-top: 5%;*/
	margin-left: auto;
	background-color: white;
	margin-right: auto;
}
@media(max-width: 400px){
	#table-1{
		
	}
}
.white
{
	color: #000000;
	border-bottom: 5px solid white;
	cursor: pointer;
}

.blue
{
	cursor: pointer;
	color: #066BC4;
	border-bottom: 5px solid #066BC4;	
}

.post-1{
	font-weight: normal;
}

#more {display: none;}


.card-photo{
	height: 120px;
	width: 120px;
	border-radius: 1px;
	margin-left: 55px; 
	border: 1px solid white;
	overflow: hidden;
	transform: translateY(calc(-60% + 10px));
}

#img-1{
	height:120px;
	width: 120px;
	
}

.container{
	margin: none;
	padding: none;
}
.top
{
	margin-top:-20px;
	padding:0;
	height: 50px;
	background-color: #066BC4;
	width: 100%;
}


#search{
	outline: none;
	padding: 4px 0 4px 0;
	margin-top: 5px;
	width: 50%;
	background-color: #066BC4;;
	border: none;
	border-bottom: 1px solid white;
	font-size: 25px;
	color: white;
	font-weight: normal;
	margin-bottom: 5px;
}

 .gg-arrow-left {
 box-sizing: border-box;
 position: relative;
 float: left;
 display: block;
 transform: scale(var(--ggs,1));
 width: 30px;
 height: 22px;
 margin-left: 20px;
 margin-top: 10px;
}

.gg-arrow-left::after,
.gg-arrow-left::before {
 content: "";
 display: block;
 box-sizing: border-box;
 position: absolute;
 left: 3px;
 color: white;
}

.gg-arrow-left::after {
 width: 8px;
 height: 8px;
 border-bottom: 2px solid;
 border-left: 2px solid;
 transform: rotate(45deg);
 bottom: 7px
}

.gg-arrow-left::before {
 width: 16px;
 height: 2px;
 bottom: 10px;
 background: white;
} 

.option
{
	margin-top: 5px;
	position: absolute;
	top: 0;
	right: 15%;
	font-size: 2em;
	color: white;
	background: #066BC4;
	padding: 0px 15px 6px 15px;
	text-decoration: none;
	border-radius: 5px;
	outline: none;
	border: none;
}

.option:active
{
    box-shadow: inset 0 0 15px #DFDFDF;
}

.dropmenu
{
    display: none;
}

.dropmenu p 
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropmenu p:hover
{
	background-color: #f1f1f1
}

.show 
{
	display: inline-block;
	position: absolute;
	top: 7%;
	right: 15%;
	background-color: #f9f9f9;
    min-width: 200px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 10;
	font-size: 1.2em;
}

.blu{
	cursor: pointer;
	color: #066BC4;
	border-bottom: 5px solid #066BC4;	
}

.card{
	height: 10%;
	padding: 20px;
	background-color: #ffffff;
 	margin-top:20px;
 	width: auto;
 	clear: left;
}

.terminate
{
	border: 1px solid white;
	border-radius: 2px;
	background-color: white;
	width: 98%;
	height: 650px;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
}

.terminatehid
{
	display: none;
	border: 1px solid white;
	border-radius: 2px;
	background-color: white;
	width: 96%;
	height: 650px;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;	
}

.spread{
	border: 1px solid white;
	border-radius: 2px;
	background-color: white;
	width: 100%;
	height: 650px;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
}

